%header
  #title
    %h1.website_title
      %span.bride_name
        %span.lettre0> M
        %span.lettre1> a
        %span.lettre2> r
        %span.lettre3> i
        %span.lettre4> o
        %span.lettre5> n
      %span.lettreEt &
      %span.groom_name
        %span.lettre3> N
        %span.lettre4> i
        %span.lettre5> c
        %span.lettre6> o
        %span.lettre7> l
        %span.lettre8> a
        %span.lettre9> s
    %h6.website_date
      %span.date_part1 le
      %span.date_part2 Samedi
      %span.date_part3 9
      %span.date_part4 mai
      %span.date_part5 2015
