= render_partial 'menu', :locals => { :selected => 'ceremonie' }

#content
  #content2
    %h2.page_title En mai fais ce qu'il te plait
    %p
      Alors, voilà, on a décidé de se marier. Nous souhaiterions un mariage simple, à notre image.
      Mais pour autant le mariage classique expédié en mairie ne nous séduit pas vraiment. Nous
      rêvons d’un mariage à la campagne, en extérieur, à l’ombre des arbres sous un beau ciel bleu.
    %br/
    %p
      Nous voulons avant tout vivre un moment de partage et d’émotion, entre nous deux, et entre
      nous tous.
    %br/
    %p
      C’est pourquoi nous vous invitons à passer non pas un, ni deux, mais bien trois jours à nos
      côtés pour le we prolongé du 8 mai 2015 ! Nous espérons ainsi avoir le temps de profiter de
      tout le monde et de s’amuser tous ensemble.
    %br/
    %p
      Pour satisfaire nos envies nous avons trouvé un petit écrin près d’un bois qui peut tous nous
      accueillir. Nous ne pouvons pas prévoir le temps qu’il fera. Cependant une grande terrasse
      couverte pourra nous servir de refuge en cas de pluie pour la cérémonie. Quel que soit le
      temps nous nous réchaufferont mutuellement le cœur.
    %br/
    %p
      Nous parlions de partage et d’émotions. Ne soyez pas déçus de ne pas rencontrer M. le maire,
      nous serons déjà mariés civilement à cette date. Les émotions devraient être présentes lors de
      notre cérémonie d’engagement qui se tiendra le samedi en votre présence.
    %br/
    %p
      Pour l’aspect « partage » nous avons choisi de faire un mariage semi-participatif car cela
      entraîne une convivialité et une joie-de-vivre qui nous plaisent beaucoup. Nous vous invitons
      à venir dès le vendredi pour participer avec nous aux finitions de la préparation de la salle et
      du repas du samedi soir. Pour les autres repas, amenez quelque chose que vous aimez bien
      faire (et manger !). Nous partagerons une grande auberge espagnole et les personnes qui ne
      se connaissent pas encore auront tout le loisir de se rencontrer avant le mariage proprement dit.
    %br/
    %p
      Et enfin pour parfaire l’aspect jovial et festif nous pensons proposer des jeux d’extérieur pour
      la journée du samedi. Prévoyez donc des vêtements dans lesquels vous soyez à l’aise !
      Exit les petits souliers pour ces messieurs et les chaussures à talon de mesdames. Prévoyez au
      moins d’avoir une paire de secours pour les activités et la cérémonie dans la pelouse ! Quoi qu’il
      en soit vous pourrez vous changer avant la cérémonie pour ceux qui le souhaitent puisque le logement
      est prévu sur place.
