= render_partial 'menu', :locals => { :selected => 'home' }

#content
  #content2
    %h2.page_title Save the date
    %center
      %iframe(width="640" height="480" src="http://www.youtube.com/embed/uvM6JmNaVR8?rel=0" frameborder="0" allowfullscreen)
