= render_partial 'menu', :locals => { :selected => 'jbox' }

#content
  #content2
    %h2.page_title Jukebox
    %iframe(frameborder="0" height="600" marginheight="0" marginwidth="0" src="https://docs.google.com/forms/d/1XHMkc0go7KBJSX71GBg8JttkGrkIwwifGgLDqgeGFSo/viewform?embedded=true" width="100%") Chargement en cours...
