= render_partial 'menu', :locals => { :selected => 'rdv' }

#content
  #content2
    %h2.page_title Lieu
    %p
      Nous avons choisis de nous réunir à la campagne près du célèbre chateau de Chambord. Ne vous emballez
      pas, ce ne sera pas dedans mais à quelques kilomètres, à Dhuizon, près de Blois. Les coordonnées GPS du
      lieu sont
      %a(href="https://goo.gl/maps/jWpgI") 47.576252, 1.652695.

    %center.image
      %img(width="60%" src="http://www.gitesdesologne.com/wa_8_p/pa_2pnj3khdxx5hirx/big_crbst_vacances_20_C3_A9t_C3_A9_20_2B_20f_C3_AAte_20etc_20____20127.jpg?27vtjk1ahayqrdof")
      %span.legend L'endroit est en pleine nature.


    %p
      Nous vous proposons de loger sur place dans la mesure des places disponibles. Il y a deux types
      d'hébergement : un dortoir d'une vingtaines de lits et des chambres familiales réparties dans des
      gites.

    %p
      Le dortoir est une ancienne écurie réaménagée où les boxs ont été transformés en espaces de couchage.
      Le dortoir se compose donc de 8 espaces prévus pour 3 personnes. Nous réservons les chambres familiales aux parents.

    %center.image
      %img(width="60%" src="http://www.gitesdesologne.com/wa_8_p/pa_2pnj3khdxx5hirx/big_crbst_IMG_4191.jpg?27w4m81ahayqrdoh")
      %span.legend Les lits du dortoir ont quand même du style.

  #content2
    %h2.page_title Tarifs
    %p
      Le tarif par nuit dépends de là où vous dormirez. Une place en chambre familiale est un peu plus chère qu'une
      place dans le dortoir. Pour les enfants contactez nous.

    %table.prices
      %thead
        %tr
          %th Type de couchage
          %th Prix par personne par nuit
      %tbody
        %tr
          %td En chambre familiale
          %td ~ 35 €
        %tr
          %td En dortoir
          %td ~ 25 €

  #content2
    %h2.page_title Covoiturage
    %p
      Pour faciliter la venue de tous, nous allons vous mettre à disposition un moyen
      de faire du covoiturage. Vous serez prévenu dès que ce sera en place.

    /%iframe(width="100%" height="300px" src="https://docs.google.com/spreadsheets/d/1JhdJIRrBaPKhnf81-eHFck-VCiz57B07X3E2LHEFFqQ/pubhtml?widget=true&amp;headers=false") Chargement en cours...
    /%a(href="https://docs.google.com/spreadsheets/d/1JhdJIRrBaPKhnf81-eHFck-VCiz57B07X3E2LHEFFqQ/edit" target="_blank") Éditer le tableau

    %br/
    %p
      En plus des coordonnées GPS, voici une carte de l'endroit :
    %br/
    %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12383.483733811207!2d1.6482368932612974!3d47.57160625456585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDfCsDM0JzM0LjUiTiAxwrAzOScwOS43IkU!5e1!3m2!1sfr!2s!4v1406289473546" width="100%" height="600" frameborder="0" style="border:0")


