= render_partial 'menu', :locals => { :selected => 'rdv' }

#content
  #content2
    %h2.page_title Lieu
    %p
      Nous avons choisis de nous réunir à la campagne près du célèbre chateau de Chambord. Ne vous emballez
      pas, ce ne sera pas dedans mais à quelques kilomètres, à Dhuizon, près de Blois.

    %center.image
      %img(width="60%" src="http://www.gitesdesologne.com/wa_8_p/pa_2pnj3khdxx5hirx/big_crbst_vacances_20_C3_A9t_C3_A9_20_2B_20f_C3_AAte_20etc_20____20127.jpg?27vtjk1ahayqrdof")
      %span.legend L'endroit est en pleine nature.


    %p
      Nous vous proposons de loger sur place dans la mesure des places disponibles. Il y a deux types
      d'hébergement : un dortoir d'une vingtaines de lits et des chambres familiales réparties dans des
      gites.

    %p
      Le dortoir est une ancienne écurie réaménagée où les boxs ont été transformés en espaces de couchage.
      Le dortoir se compose donc de 8 espaces prévus pour 3 personnes. Nous réservons les chambres familiales aux parents.

    %center.image
      %img(width="60%" src="http://www.gitesdesologne.com/wa_8_p/pa_2pnj3khdxx5hirx/big_crbst_IMG_4191.jpg?27w4m81ahayqrdoh")
      %span.legend Les lits du dortoir ont quand même du style.


